:root{
  --mini-button: #3aadaa;
}

.mx-4{
  margin-left: 4px;
  margin-right: 4px;
}
.flex{
  display: flex;
}

.mini-button{
  border: 1px;
  border-radius: 4px;
  color: white;
  background-color: var(--mini-button);
  padding: 10px;
}

.pp-button{
  padding: 10px 12px;
  border: 1px;
  border-radius: 4px;
  color: white;
  background-color: #7c6576;
  height: max-content;
}

.thin-border{
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.error{
  color: red;
}